body {
    text-align: center;
    background: linear-gradient(90deg, rgb(150, 209, 238), rgb(7, 95, 203));
    /* background-image: src("img/flag.png"); */
    margin: 0;
}

h1 {
    text-align: center;
    background-color: lightseagreen;
    padding: 10px;
    margin-top: 0;
    border-bottom: 8px solid rgb(2, 80, 76);
}

.game-container {
    border: 4px double whitesmoke;
    border-radius: 10%;
}

.difficult {
    border: 2px solid black;
    width: 230px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, green, yellow, red);
    color: rgb(0, 0, 0);
}

.level {
    width: 100px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: larger;
}

.level:hover {
    background: rgb(177, 203, 226);
    cursor: pointer;
}

.easy {
    background: linear-gradient(rgb(145, 241, 145), rgb(42, 158, 42));
}

.medium {
    background: linear-gradient(rgb(242, 242, 129), rgb(162, 191, 2));
}

.hard {
    background: linear-gradient(rgba(227, 142, 142, 0.94), rgb(200, 45, 45));
}

table {
    text-align: center;
    margin: auto;
}

td {
    border: 1px solid black;
    text-align: center;
    background: linear-gradient(45deg, rgb(198, 228, 234), rgb(115, 222, 243));
    width: 25px;
    height: 25px;
    font-size: large;
}

.selected {
    cursor: not-allowed;
}

.status {
    margin-top: 10px;
    height: 50px;
    width: 50px;
    font-size: 35px;
    background: fixed;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 70%;
    height: 100px;
    border-radius: 25%;
    border: 4px double black;
    margin-top: 10px;
    margin-bottom: 20px;
}


.item {
    width: 25%;
    height: 55px;
    text-align: center;
    background-color: rgba(12, 85, 128, 0.301);
    border-radius: 40%;
    border: 4px double rgb(231, 230, 230);
    margin-top: 15px;
    line-height: 55px;
    font-size: 24px;
}

.clock {
    margin-left: 10px;
}

.miners-left {
    margin-right: 10px;
    
}

.zero {
    background: linear-gradient(45deg, rgb(49, 78, 182), rgb(125, 175, 246));
}

.mine-clicked {
    background-color: rgb(147, 13, 40);
}

.miners-span {
    text-align: center;
    font-size: 20px;
}
.hide {
    display: none;
}

.seconds {
    text-align: center;
    font-size: 20px;
}

footer{
    margin-top: 220px;
}